<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>


<body th:replace="fragments :: body"></body>
<body>
<table bgcolor="#d4edda" border="4" bordercolor="#155724">
    <tr>
        <td valign="top">
            <a href="/rectangle" title="Прямокутник">
                <img src="/img/rectangleLogo.png" width="250" height="250" alt="rectangle">
            </a>
        </td>
        <td valign="top">
            <a href="/triangle" title="Трикутник">
                <img src="/img/triangleLogo.png" width="250" height="250" alt="triangle">
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top">
            <a href="/circle" title="Круг">
                <img src="/img/circleLogo.png" width="250" height="250" alt="circle">
            </a>
        </td>
        <td valign="top">
            <a href="/rhombus" title="Ромб">
                <img src="/img/rhombusLogo.png" width="250" height="250" alt="rhombus">
            </a>
        </td>
    </tr>
</table>
</body>
</html>